core/target/
**/*.rs.bk
*.pdb

[Bb]in/
[Oo]bj/
windows/**/[Dd]ebug/
windows/**/[Rr]elease/
windows/**/[Aa]pp[Pp]ackages/
windows/**/[Bb]undle[Aa]rtifacts/
windows/**/*.user
windows/**/*.msix
windows/**/*.appx
.vs/

.DS_Store
Thumbs.db
xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

.idea/
*.swp
